<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {{#vinyl}}
    <div>
        <p>Artist Name: {{name}}</p>
        <p>Album Name: {{albumName}}</p>
        <p>Condition: {{condition}}</p>
        <p>Is it signed? {{signed}}</p>
        <p>Value: {{value}}</p>
        <p>Is it for sale? {{forSale}}</p>
        <p>Genre: {{genre}}</p>
        <p>How many tracks? {{albumDetails.tracks}}</p>
        <p>Release Year: {{albumDetails.releaseYear}}</p>
        <p>RPM: {{albumDetails.rpm}}</p>
    </div>
    <br>


 <form action="/vinylcollection/{{_id}}" method="POST">
        <label for="">Name</label>
        <input type="text" name="name" value={{name}} required><br>
        <label for="">Album Name</label>
        <input type="text" name="albumName" value={{albumName}} required><br>

        <label for="">Condition</label>
        <select type="select" name="condition" value={{condition}}required>
            <option value="new" selected>New</option>
            <option value="good">Good</option>
            <option value="fair">Fair</option>
            <option value="poor">Poor</option>
         </select>
        <br>

        <h2>Is it signed?</h2>
        {{#signed}}
        <label for="true">Yes</label>
        <input type="radio" name="signed" checked >
        <label for="false">No</label>
        <input type="radio" name="signed">
        {{/signed}}
        {{^signed}}
        <label for="true">Yes</label>
        <input type="radio" name="signed"  checked>
        <label for="false">No</label>
        <input type="radio" name="signed">
       {{/signed}}


        <label for="">Number of Tracks</label>
        <input type="number" name="albumDetails.tracks" value={{albumDetails.tracks}} placeholder=""><br>
        <label for="">Release Year</label>
        <input type="number" name="albumDetails.releaseYear" value={{albumDetails.releaseYear}} placeholder=""><br>


        <label for="">RPM</label>
        <select type="select" name="albumDetails.rpm" value={{albumDetails.rpm}} required>
            <option value=33 >33</option>
            <option value=45 >45</option>
            <option value=78 >78</option>
         </select>
      

        <label for="">Genre</label><br>{{#genre}}
        <input type="text" name="genre" value={{.}}>{{/genre}}<br>
    

        <h2>Is it for sale?</h2>
        {{#forSale}}
        <label for="true">Yes</label>
        <input type="radio" name="forSale" checked>
        <label for="false">No</label>
        <input type="radio" name="forSale">
        {{/forSale}}
        {{^forSale}}
        <label for="true">Yes</label>
        <input type="radio" name="forSale" checked>
        <label for="false">No</label>
        <input type="radio" name="forSale">
        {{/forSale}}
        <br>
        <button type="Submit">Update</button>
    </form>
    {{/vinyl}} 


     <form action="/" method="DELETE">
        <button type="Submit">Delete</button>
     </form>

   
   
</body>
</html>